<launch>
	<node pkg="server_pkg_testing" name="fake_pi_pkg_node" type="fake_pi_pkg.py" output="screen"></node>
	<node pkg="server_pkg_testing" name="fake_mavros_node" type="fake_mavros.py" output="screen"></node>
	<node pkg="server_pkg_testing" name="fake_connections_node" type="fake_connection_checks.py" output="screen"></node>
	<node pkg="server_pkg_testing" name="fake_nest_data_node" type="fake_nest_data.py" output="screen"></node>
</launch>